*.csv
*.tmp
*.temp
_*.json
config/_*
include/_[!_]*
include/*.pyc
include/*/*.pyc
include/*/_[!_]*
__pycache__/
include/__pycache__/
include/cli/__pycache__/
include/cli/common/__pycache__/
include/*/*/*.pyc
include/*/*/_[!_]*
include/loader/*.py[c]
include/*/*/*/*.pyc
include/*/*/*/_[!_]*

include/*/*/*/*/*.pyc
include/*/*/*/*/_[!_]*
*.db
dist/*
build/*
gtx/*
legacy/*
dtest/*
test/*
test/mock/*
_[!_]*
dump/*
.envs/.*
*.log
dtest/*.log
.nfs*
og*.txt
log*
*.pyc
*.gz
